body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fefefe;
  }
  
  .phone {
    width: 300px;
    height: 600px;
    background-color: #1a1919;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calculator {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    width: 100%;
    height: 150px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: rgb(176, 172, 168);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #f8caca;
  }

